@media screen and (max-width: 700px) {
  .add-feed-menu {
    flex-direction: column;
    padding: 1rem 1rem;
  }

  .add-feed-btn {
    margin-top: 1rem;
  }

  .bottom-container {
    flex-direction: column-reverse;
    max-height: 75vh;
  }

  .feed-display {
    margin-top: 0;
    // height: 50vh;
  }

  .display-item-header {
    font-size: 1.7rem;
  }
  .display-item-description {
    font-size: 1.3rem;
    padding: 0 1em;
  }

  .settings-menu {
    padding: 1rem 1rem;
    margin: 5em 0em 1em 0em;
  }

  .display-item-description {
    display: flex;
    flex-direction: column;
    // gap: 1em;
    overflow: scroll;

    // table {
    //   max-width: 90vw;
    // }
  }
}
