@media screen and (max-width: 700px) {
  .add-feed-menu {
    flex-direction: column;
    padding: 1rem 1rem;
  }

  .user-feeds {
    padding: 2rem 1rem;
  }

  .add-feed-btn {
    margin-top: 1rem;
  }

  .bottom-container {
    flex-direction: column-reverse;
    max-height: 90vh;
  }

  .feed-display {
    width: 100vw;
    margin-top: 0;
  }

  .settings-menu {
    width: 90vw;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
  }

  .display-item-description {
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }
}
