/* ========================================================================== */
/* GENERAL */
/* ========================================================================== */
* {
  box-sizing: border-box;
  margin: 0;
  transition: background-color 1s ease;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  height: min-content;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem 2rem;
}

label,
input {
  font-size: 2rem;
}

.br10 {
  border-radius: 10px;
}

.accent {
  background-color: #ffb800;
}

.flex {
  display: flex;
}

.centered {
  justify-content: center;
}

.btn {
  border: none;
  font-weight: bold;
  border-radius: 10px;
  white-space: nowrap;
  transition: none;
}

.btn:hover {
  cursor: pointer;
}

/* ========================================================================== */
/* AddFeedMenu */
/* ========================================================================== */
.add-feed-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2em 3em;
  margin: 1rem 1rem;
  filter: drop-shadow(0px 0px 10px rgba(51, 152, 211, 0.25));
}

.add-feed-menu input[type=text] {
  width: 40rem;
  max-width: 90%;
  border-radius: 10px;
  border: none;
  padding: 10px 5px;
  border: 1px solid #dcdcdc;
}

.add-feed-btn {
  padding: 10px 30px;
  color: white;
}

.add-feed-btn:hover {
  color: #ffb800;
  background-color: white;
  outline: 2px solid #ffb800;
}

/* ========================================================================== */
/* UserFeeds */
/* ========================================================================== */
.user-feeds {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2rem;
  padding: 2em 0em;
  font-size: 1.5rem;
  overflow: auto;
  overflow-y: hidden;
  filter: drop-shadow(0px 0px 10px rgba(51, 152, 211, 0.25));
}

.user-feeds-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7em 1em;
  margin: 0 10px;
  background-color: #1291b3;
  color: white;
  border-radius: 25px;
  transition: none;
}

.user-feeds-item:hover {
  background-color: white;
  color: #1291b3;
  outline: 2px solid #1291b3;
}

.delete-btn {
  font-size: 1.3em;
  margin-left: 10px;
}

.delete-btn:hover {
  cursor: pointer;
  color: #ffb800;
}

.active-feed {
  color: #ffb800;
}

/* ========================================================================== */
/* FeedDisplay */
/* ========================================================================== */
.bottom-container {
  width: 100%;
  height: 100%;
}

.feed-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75vh;
  width: 100%;
  margin-top: 50px;
  filter: drop-shadow(0px 0px 30px rgba(51, 152, 211, 0.25));
  overflow: scroll;
}

.feed-display ul {
  padding: 0 1em;
  width: 100%;
}

.feed-display > span {
  height: 100%;
  padding: 25% 0;
}

.display-item {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 1.5em 0.5em;
  margin: 10px 0;
}

.display-item-header {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
}

.display-item span:hover {
  cursor: pointer;
  color: #ffb800;
}

.display-item:hover .display-item-arrow {
  color: #ffb800;
}

.display-item-title {
  width: 100%;
}

.display-item a {
  text-decoration: none;
  color: #1d2d31;
}

.link-btn {
  padding: 5px 5px;
  margin: 5px 5px;
}

.link-btn:hover {
  color: #ffb800;
  background-color: #1d2d31;
}

.load-more-btn {
  color: #1d2d31;
  width: 50%;
  padding: 0.5em 1em;
  margin-bottom: 1em;
}

.load-more-btn:hover {
  color: #ffb800;
  background-color: white;
  outline: 2px solid #ffb800;
}

.load-more-btn:disabled {
  cursor: default;
  background-color: #5c6466;
}

.load-more-btn:disabled:hover {
  color: #1d2d31;
  outline: none;
}

/* ========================================================================== */
.display-item-description {
  font-size: 1.5rem;
  line-height: 2.4rem;
  margin-top: 20px;
  padding: 0 2em;
}

.display-item-description a {
  text-decoration: underline;
  color: #1291b3;
}

.display-item-description img {
  max-width: 100%;
}

/* ========================================================================== */
/* Settings Menu */
/* ========================================================================== */
.settings-menu {
  filter: drop-shadow(0px 0px 10px rgba(51, 152, 211, 0.25));
  padding: 20px 20px;
  margin: 50px 10px;
}
.settings-menu label {
  width: 100%;
  margin-left: 0.5em;
}
.settings-menu input[type=checkbox] {
  scale: 1.5;
}

.settings-menu-item {
  margin-bottom: 1em;
  white-space: nowrap;
}

/* ========================================================================== */
/* Light/Dark Themes */
/* ========================================================================== */
.light-background {
  background-color: #f3fbff;
}

.light-card1 {
  background-color: #ffffff;
}

.light-card2 {
  background-color: #d0efff;
}

.dark-background {
  background-color: #3c3c3c;
}

.dark-card1 {
  background-color: #2b2b2b;
  color: white;
  filter: drop-shadow(0px 0px 30px rgba(37, 110, 153, 0.25));
}

.dark-card2 {
  background-color: #5c6466;
  color: white;
}

/* ========================================================================== */
/* Mobile queries */
/* ========================================================================== */
@media screen and (max-width: 700px) {
  .add-feed-menu {
    flex-direction: column;
    padding: 1rem 1rem;
  }

  .add-feed-btn {
    margin-top: 1rem;
  }

  .bottom-container {
    flex-direction: column-reverse;
    max-height: 75vh;
  }

  .feed-display {
    margin-top: 0;
  }

  .display-item-header {
    font-size: 1.7rem;
  }

  .display-item-description {
    font-size: 1.3rem;
    padding: 0 1em;
  }

  .settings-menu {
    padding: 1rem 1rem;
    margin: 5em 0em 1em 0em;
  }

  .display-item-description {
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }
}
